body
{
font-family: 'Special Elite', cursive;
background: #eb7775;
}
.header_div
{
    background: blue;
    color: #ce2700;
}
.header_div p {
    font-family: 'Roboto', sans-serif;
    color: red;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: #775b5b;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: #f7dfdf;
    line-height: 5;
    text-align: center;
    text-shadow: 5px 5px 5px rbg(151, 149, 149);
}
